<mat-toolbar class="header-toolbar" color="accent">
    <i class="material-icons header-icon">chat</i>
  <span>Contact Info</span>
</mat-toolbar>

<mat-card class="card">
  <span class="summary">
    <mat-card-content>
      <div class="contact-div">
        <div>
          <i class="material-icons">email</i>
          <a href="mailto:ant.ruballos@gmail.com">Email</a>
        </div>
        <div>
          <img src="assets/img/linkedin-512.png" class="linkedin-icon">
          <a href="https://www.linkedin.com/in/aruballos/" target="_blank">LinkedIn</a>
        </div>
        <div>
          <img src="assets/img/github-436.png" class="github-icon">
          <a href="https://github.com/aruballo" target="_blank" >Github</a>
        </div>
      </div>
    </mat-card-content>
  </span>
</mat-card>    