.section-div, .main-toolbar > span {
    padding: 10px;
}

.section-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-pic {
    max-width: 225px;
    margin: 0 !important;
}

.profile-card {
    padding: 10px;
    overflow: auto;
}
.main-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    justify-content: center;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
.fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.main-div {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.summary {
    position: absolute;
    top: 0px;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 0px;
}

ul {
    padding-left: 15px;
}

.work-history-toolbar {
    justify-content: center;
}

.thematic-break {
    margin-right: 5px;
}

.contact-info {
    padding-top: 26px;
}