<mat-toolbar class="main-toolbar" color="primary">
  <i class="material-icons">description</i>
  <span>Online Resume</span>
</mat-toolbar>
<div class="carousel-box">
  <carousel-box>
  </carousel-box>
</div>
<div class="main-div fade-in">
  <div class="section-div align-flex-end">
    <div class="card-div">
      <info-snapshot
        [cardHeaderTitle]="profileHeaderTitle"
        [cardHeaderIcon]="profileHeaderIcon"
        [cardColor]="profileHeaderColor" 
        [cardTitle]="profileTitle" 
        [cardSubtitle]="profileSubtitle" 
        [cardContent]="profileContent" 
        [cardImage]="profileImage">
      </info-snapshot>
    </div>
    <div class="card-div">
      <contact-info class="contact-info">
      </contact-info>
    </div>
    <div class="card-div">
      <education-info class="education-info">
      </education-info>
    </div>
  </div>
  <div class="section-div align-flex-start">
    <div class="card-div">
      <work-history></work-history>
    </div>
  </div>
</div>



