@media only screen and (max-width: 630px) {

    .card-pic-default-max-height {
        max-width: 60px;
    }  

    .card-pic-div {
        width: 60px;
        display: inline-block;
        position: relative;
    }

    .card-pic { 
        max-width: 60px;
    }

    .card-pic-div-default-height {
        height: 345px;
    }

    .mat-card-image:first-child {
        margin-top: 0;
    }

    .mat-card-image {
        margin: 0;
    }
}

@media only screen and (min-width: 631px) {
    .card-pic-default-max-height {
        max-height: 185px;
    }  

    .card-pic-div-default-height {
        height: 275px;
    }

    .card-pic-div {
        width: 165px;
        display: inline-block;
        position: relative;
    }

    .card-pic {
        vertical-align: middle;
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto !important;
        max-width: 165px;
        position: absolute;
    }
}

.card {
    padding: 10px;
    overflow: hidden;
}

.summary {
    position: absolute;
    top: 0px;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 0px;
}

ul {
    padding-left: 15px;
}

.thematic-break {
    margin-right: 5px;
}

.header-toolbar {
    justify-content: center;
    height: 48px;
}

.card-pic-small-max-height {
    max-height: 117px;
}

.card-pic-div-small-height {
    height: 117px;
}

.card-pic-div-medium-height {
    height: 185px;
}


.mat-card-title {
    margin-bottom: 8px;
}

.mat-card-subtitle {
    margin: 0px !important;
    font-weight: bold;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.header-icon {
    margin: 5px;
}

.card-content-list {
    padding-right: 5px;
}