<info-snapshot
  [cardHeaderTitle]="udacityHeaderTitle"
  [cardHeaderIcon]="udacityHeaderIcon"
  [cardColor]="udacityHeaderColor" 
  [cardTitle]="udacityTitle" 
  [cardSubtitle]="udacitySubtitle" 
  [cardDuration]="udacityDuration"
  [cardContent]="udacityContent"
  [cardImage]="udacityImage"
  [cardSmall]="true">
</info-snapshot>
<info-snapshot
  [cardHeaderTitle]="uciHeaderTitle"
  [cardHeaderIcon]="uciHeaderIcon"
  [cardColor]="uciHeaderColor" 
  [cardTitle]="uciTitle" 
  [cardSubtitle]="uciSubtitle" 
  [cardDuration]="uciDuration"
  [cardContent]="uciContent"
  [cardImage]="uciImage"
  [cardSmall]="true">
</info-snapshot>