<info-snapshot
  [cardHeaderTitle]="workHeaderTitle"
  [cardHeaderIcon]="workHeaderIcon"
  [cardColor]="workHeaderColor"  
  [cardTitle]="loanDepotTitle" 
  [cardSubtitle]="loanDepotSubtitle"
  [cardDuration]="loanDepotDuration" 
  [cardContent]="loanDepotContent" 
  [cardImage]="loanDepotImage">
</info-snapshot>
<info-snapshot 
  [cardTitle]="profoundTitle" 
  [cardSubtitle]="profoundSubtitle"
  [cardDuration]="loanDepotDuration"  
  [cardContent]="profoundContent" 
  [cardImage]="profoundImage">
</info-snapshot>
<info-snapshot 
  [cardTitle]="profoundTwoTitle" 
  [cardSubtitle]="profoundTwoSubtitle"
  [cardDuration]="loanDepotDuration"  
  [cardContent]="profoundTwoContent" 
  [cardImage]="profoundTwoImage">
</info-snapshot>



